/* styles.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #eee;
}

.centered-title {
    display: inline-block;
    border: 2px solid #333;
    padding: 10px;
}

.subtitle {
    color: #666;
    margin-top: 5px;
}

.centered-section {
    text-align: center;
}

.content-container {
    display: flex;
    justify-content: space-around;
}

.half-width {
    width: 45%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 1rem;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 50%; 
}

.counter-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.counter-container label {
    margin-right: 10px;
}

.half-width .button__left {
    display: flex;
    width: 100%;
}

.half-width button {
    flex: 1;
    margin-right: 2%; 
}

button {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button__copy{
margin-top: 3rem;
}

.code-container {
    display: flex;
    flex-direction: column;
    height: 50%; 
}

#codigo {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 5px;
    height: 100%; 
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
}
